{% extends "layout.html" %}
{% block title %}Posts{% endblock title %}
{% block content %}
<div>
    <a href="/">Index</a>
    <div>
        {% for post in  posts %}
        <div>
            <p>{{post.id}}</p>
            <a href="{% url 'posts_show' id=post.id %}">
                <h1>{{ post.title }}</h1>
            </a>
            <p>{{ post.body }}</p>
            <img width="250" src="{{ post.image_url }}" alt="{{ post.image_url }}">
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
